.servicios .servicios-tipo {
    position:relative;
    display: flex;
    align-content: center;
    justify-content:space-around;
    text-align: center;
}


.servicios .servicios-tipo img{
    width: 450px;
    height: 250px;
}

.servicios h1, .servicios .horarios{
    text-align: center;
    align-content: center;
    justify-content: center;
}
.servicios h1{
    margin: 0;
    padding: 25px;
    max-width: 100%;
    background-color: chocolate;
}

.servicios .servicios-tipo .baile,.servicios .servicios-tipo .entrenamiento
{
    font-size: 25px;
    width: 100%;
    background-color: rgb(66, 64, 64);
}

.servicios .horarios{
    font-size: 30px;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}
.servicios .horarios p{
    font-size: 25px;
    margin: 0;
    padding: 10px;
}
.servicios .horarios h3{
    margin: 0;
    padding: 10px;
}
.ubicacion{
    padding: 20px;
}

@media screen and (max-width:850px) {
    .servicios .servicios-tipo img{
        width: 300px;
        height: 200px;
    }
    .servicios .servicios-tipo{
        margin: 0;
        display: block;
    }
    .servicios .servicios-tipo section p, .servicios .servicios-tipo section h3{
        margin: 0;
        padding: 20px;
    }
}   